body {
  background-color: #424242;
  color: #fff;
}

section.top {
  padding-top: 0 !important;
}

a {
  color: #fff;
  text-decoration: none;
}

.effect-fade {
  opacity: 0;
  -webkit-transform: translate(0, 45px);
  transform: translate(0, 45px);
  -webkit-transition: all 2000ms;
  transition: all 2000ms;
}

.effect-fade.effect-scroll {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

h2 {
  position: relative;
  color: #ffffff45;
  font-family: HeadLineA;
  letter-spacing: 11.25px;
  font-size: 65px;
}

@media (max-width: 750px) {
  h2 {
    font-size: 50px;
  
  }
}


h2 span {
  position: absolute;
  font-size: 20px;
  font-family: Hiragino Sans;
  letter-spacing: 1px;
  color: #fff;
  bottom: 10px;
  margin-left: -100px;
}



.banner-title-about {
  text-align: right;
  border-bottom: 10px white solid;
  padding-bottom: 7px;
  padding-bottom: -10px;
}

h2.left span {
  margin-left: -150px;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .inner {
    margin: 0 5%;
  }
}

.fade-img {
  position: relative;
  z-index: -1;
}

.fade-img img {
  position: absolute;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .fade-img img {
    height: 70vh;
  }
}

#slide {
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.top-wrapper {
  height: 100vh;
  z-index: 1;
}

.top-wrapper .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  .top-wrapper {
    height: 70vh;
  }
}

.top-wrapper .top-logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 40px;
  text-align: center;
}

.top-wrapper .top-logo h1.top-logo-title {
  font-size: 4rem;
  font-family: 'serif', cursive;
}

.top-wrapper .top-logo h1.top-logo-title img {
  width: 280px;
}

.top-wrapper .top-logo .top-logo-text {
  color: #fff;
  font-family: Hiragino Mincho ProN;
  font-size: 1.5rem;
}

.top-wrapper .top-text {
  position: absolute;
  bottom: 20%;
  right: 20%;
  color: #fff;
  font-family: Hiragino Mincho ProN;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .top-wrapper .top-text {
    bottom: 40%;
    font-size: 1.2rem;
  }
}

.top-wrapper .top-text:after {
  border-top: 1px solid;
  content: "";
  width: 5em;
}

@media screen and (max-width: 1000px) {
  .top-wrapper .top-text:after {
    width: 4rem;
  }
}

header .pc-header nav.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 15px;
}

header .pc-header nav.header .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .pc-header nav.header .header-list li {
  padding: 30px 20px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .pc-header nav.header .header-list li:hover {
  background-color: rgba(0, 0, 0, 0.486);
}

header .sp-header {
  display: none;
}

.work .work-wrapper {
  margin-top: 20px;
}

.work .work-wrapper .work-contents .work-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .work .work-wrapper .work-contents .work-content {
    display: block;
  }
}

.work .work-wrapper .work-contents .work-content p.img {
  width: 65%;
}

@media screen and (max-width: 1000px) {
  .work .work-wrapper .work-contents .work-content p.img {
    width: 100%;
  }
}

.work .work-wrapper .work-contents .work-content .work-content-text {
  width: 35%;
  padding: 0 20px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .work .work-wrapper .work-contents .work-content .work-content-text {
    width: 100%;
    padding: 0;
  }
}
.swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f137";
  color: #fff; /* 色を白に */
  margin-left: 20px; /* マージンを追加 */
}
.swiper-button-next:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";
  color: #fff;
  margin-right: 20px;
}

.work .work-wrapper .work-contents .work-content .work-content-text .work-name {
  font-size: 22px;
  color: RGB(0, 119, 255, 40%);
  margin-top: 20px;
}



.work .work-wrapper .work-contents .work-content .work-content-text .work-dis {
  font-size: 18px;
  margin: 15px 0;
}

.work .work-wrapper .work-contents .work-content .work-content-text .detail {
  right: 20px;
  bottom: 20px;
  position: absolute;
}

.about .about-text {
  margin-top: 30px;
}

.about .about-text .about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}



.about .about-text .about-top .about_img {
  width: 97%;
  margin-bottom: 25px;
}

.about-top {
  max-height: 528px;
  height: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .about .about-text .about-top .about_img {
    width: 90%;
  }
}

.about .about-text .about-top .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name {
  height: 600px;
}

@media screen and (max-width: 1000px) {
  .about .about-text .about-top .name {
    padding-right: 5%;
  }
}

.about .about-text .about-top .name span {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.about .about-text .about-top .name .name-l {
  font-size: 45px;
  line-height: 200%;
  letter-spacing: 10px;
}

@media screen and (max-width: 1000px) {
  .about .about-text .about-top .name .name-l {
    font-size: 32px;
    line-height: 130%;
  }
}

.about .about-text .about-top .name .name-s {
  letter-spacing: 4px;
  font-weight: normal;
}

.about .about-text .about-text-wrap {
  margin-bottom: 120px;
  margin-top: 65px;
}

@media (max-width: 750px) {
  .about .about-text .about-text-wrap {
    margin-bottom: 0px;
  }  
}

.about .about-text .about-text-wrap h4 {
  font-weight: normal;
  font-size: 22px;
}

@media screen and (max-width: 1000px) {
  .about .about-text .about-text-wrap h4 {
    font-size: 20px;
  }
}

.about .about-text .about-text-wrap .career {
  margin-top: 25px;
}

.about .about-text .about-text-wrap .career h5 {
  font-weight: normal;
  font-size: 16px;
  margin: 10px 0;
}

@media screen and (max-width: 1000px) {
  .about .about-text .about-text-wrap .career p {
    font-size: 14px;
  }
}

.service .service-wrapper .service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service {
  margin-top: 50px;
}

@media screen and (max-width: 1000px) {
  .service .service-wrapper .service-items {
    display: block;
  }
}

.service .service-wrapper .service-items .service-item1, .service .service-wrapper .service-items .service-item2, .service .service-wrapper .service-items .service-item3  {
  text-align: center;
  margin: 1%;
  padding: 35px;
  width: 50%;
  background: white;
}


i {
  color: #828282;;
}

@media screen and (max-width: 1000px) {
  .service .service-wrapper .service-items .service-item {
    width: 100%;
    margin: 5% auto;
  }
}

.service .service-wrapper .service-items .service-item1 .service-item-logo, .service .service-wrapper .service-items .service-item2 .service-item-logo, .service .service-wrapper .service-items .service-item3 .service-item-logo {
  font-size: 42px;
}

.service .service-wrapper .service-items .service-item1 .service-item-ttl, .service .service-wrapper .service-items .service-item2 .service-item-ttl, .service .service-wrapper .service-items .service-item3 .service-item-ttl {
  font-size: 20px;
  margin: 20px 0;
}

.service .service-wrapper .service-items .service-item1 .service-item-text {
  font-size: 14px;
}


.skills {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
  color: #333;
}

.skills h4 {
  font-size: 1.5rem;
  padding: 30px 0;
}

@media screen and (max-width: 1000px) {
  .skills {
    font-size: 1.2rem;
  }

}



.skills .skills-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.skills .skills-wrap .skill-item {
  width: calc(30% - 20px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.skills .skills-wrap .skill-item .skill-name {
  margin: 0;
  font-size: 1.25rem;
}

@media screen and (max-width: 1000px) {
  .skills .skills-wrap .skill-item .skill-name {
    font-size: 0.5rem;
  }
}

.banner-title-skill {
  padding: 20px 0;
  color: RGB(142, 142, 142, 60%);
}

.fa-2x::before {
  font-size: 2em;
}

@media screen and (max-width: 1000px) {
  .fa-2x::before {
    font-size: 1em;
  }
}

.contact .inner {
  text-align: center;
}
.tel {
  font-size: 2.5rem;
}

.contact .inner .contact-text p {
  font-size: 14px;
}

footer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
  padding: 40px;
}

@media screen and (max-width: 1000px) {
  footer {
    padding: 20px;
  }
}

footer .sns-container .sns-container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header li:hover {
  color: white;

}


footer .sns-container .sns-container-list .menu-item {
  margin: 8px;
  font-size: 17px;
}

footer .sns-container .sns-container-list a:hover {
  opacity: 0.5;
}

footer .copy-right {
  font-size: 14px;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  margin: 30px auto;
  background: #a0a0a02c;
  font-family: Hiragino Mincho ProN;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.6;
}

.sp-only {
  display: none;
}

.pc-only {
  display: block;
}

@media screen and (max-width: 1000px) {
  .pc-header {
    display: none;
  }
  .sp-header {
    display: block;
  }
  .sp-only {
    display: block;
  }

  .pc-only {
    display: none;
  }
}

.top-logo-title, .top-logo-text {
  text-shadow: 0 3px 6px black;
}
.btn {
  color: white;
  box-shadow: 0 3px 6px black;
}

body {
  background-color: rgba(133, 155, 253, 0.322);
}

h2, p,  h4, h5  {
  color: RGB(142, 142, 142, 100%);
}
h2 {
  color: RGB(142, 142, 142, 60%);
}


.inner span, a {
  color: RGB(68, 68, 68, 100%);
  font-weight: initial;
}

.name span {
  color: RGB(142, 142, 142, 100%);
  margin-top: 50px;
}
.name-s {
  margin-right: 15px;
}

.work-content-text {
  background-color: rgb(224, 224, 224);
}

.banner-title-work span, .banner-title-service span, .banner-title-about span, .banner-title-contact span {
  top: 75px;
}

@media (max-width: 750px) {
  .banner-title-work span, .banner-title-service span, .banner-title-about span, .banner-title-contact span {
    top: 40px;
    color: white;
    font-weight: bold;
  }

  .banner-title-skill span {
    top: 80px;
    color: white;
    font-weight: bold;
  }


  
}



.banner-title-service {
  text-align: center;
}

.banner-title {
  margin-top: 100px;
  margin-bottom: 50px;
}

@media (max-width: 750px) {
  .banner-title {
    margin-top: 50px;
    margin-bottom: 0;
  }

}


.swiper-button-prev, .swiper-button-next {
  opacity: 0.4;
}

.service-wrapper .inner .service-items .service-item2 {
  position: relative;  
  left: 480px;
}


.service-wrapper .inner .service-items .service-item1, .service-wrapper .inner .service-items .service-item2, .service-wrapper .inner .service-items .service-item3 {
  margin-top: 0;
  margin-bottom: 0;
}

.service-wrapper .service-items {
  margin-top: 40px;
}

.btn-sp {
  background-color: RGB(51, 64, 255, 30%);
}

.about-text-wrap {
  background-color: white;
}

.about-top .name {
  background-color: white;
}
.about-text-wrap {
  margin-top: 0;
}

.about-text-wrap {
  padding: 30px;
}

@media (max-width: 1000px) {
  .about-text-wrap, .about-top .name {
    background-color: transparent;
  }

  .name span {
    margin-top: 0;
  }

  .about-img {
    margin-right: 0;
  }

  .about .about-text .about-text-wrap {
    margin-top: 0;
  }
  .about-text-wrap {
    padding-top: 0;
  }

  .name {
    max-height: 180px
  }
  .name-s {
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .service-wrapper .inner .service-items .service-item1, .service-wrapper .inner .service-items .service-item2, .service-wrapper .inner .service-items .service-item3 {
    margin: 0 auto;
    width: 90%;
    border-radius: 20%;
  }
  .service-wrapper .inner .service-items .service-item2 {
    position: static;
    display: block;
    margin: 30px auto 30px auto; 
  }

  .banner-title-service span {
    margin-top: 5px;
  }
  .work-content-text {
    background-color: transparent;

  }
}
@media (max-width: 500px) {

 .img  {
   margin-top: 20px;   
 }

 .banner-title-skill span　{
  color: red;
}
.about .about-text .about-top .about_img {
  margin-bottom: 0;
}
.work .work-wrapper {
  margin-top: 0;
}

}


@media (max-width: 465px) {
  .banner-title-contact span {
    margin-right: 0;
  }
}
